@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

.App {
  text-align: center;
  background-image: url('https://i.pinimg.com/564x/46/52/61/465261095d1523ceee9fbf4a1be389a5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Metal Mania;
  position: relative;
  max-width: 960px;
  max-height: 500px;
}

.title{
  margin: 120px 0 30px 0;
  position: relative;
  top: -150px;
  font-size: 4em;
  -webkit-text-stroke: 1px black;
}

.button {
  height: 150px;
  width: 366px;
  border-radius: 10px;
  background-image: url('https://t3.ftcdn.net/jpg/00/42/10/22/240_F_42102270_GToslRQdsxIKnnzJknhB9Dlqkr0n8lLF.jpg');
  font-size: 2.5em;
  font-family: Metal Mania;
  -webkit-text-stroke: 1px black;
  color: white;
  position: relative;
  top: -60px;
}

.albumCoversLink {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  -webkit-text-stroke: 1px black;
  text-decoration: none!;
}

.albumCoversLink:hover {
  color: black;
  -webkit-text-stroke: 1px white;
}


.cover {
  max-width: 190px;
  max-height: 190px;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid rgb(186, 186, 186);
  
}


.artist {
  font-size: 4em;
  -webkit-text-stroke: 1px black;
  margin-top: 10px;
  margin-bottom: 10px;

}

.albumLink {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  -webkit-text-stroke: .1px black;
  text-decoration: none!;
}

.albumLink:hover {
  color: black;
  -webkit-text-stroke: .1px white;
}


.label {
  font-size: 2em;
  -webkit-text-stroke: .08px black;
  margin: 10px 5px;
}

.album {
  font-size: 3em;
  margin: 5px 1px;
  -webkit-text-stroke: .3px black;
}

.year {
  font-size: 1.5em;
  margin-top: 2px;
  -webkit-text-stroke: .5px black;
}

.track {
  font-size: 1.1em;
  margin: 5px;
  padding: 0px;
  -webkit-text-stroke: .3px black;
}

.albumCoversDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  margin-bottom: 50px;
}

.addCover {
  -webkit-text-stroke: .2px black;
}

.albumCovers {
  max-width: 65px;
  margin: 0 2px;
  border-radius: 5px;
}

.albumCovers:hover {
  border: 1px solid rgb(177, 177, 177);
}

.albumCover {
  max-width: 400px;
  min-width: 400px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid rgb(204, 204, 204);
}

.homeLink{
  
  font-size: 1.5em;
  position: relative;
  bottom: -10px;
  color: aliceblue;
  -webkit-text-stroke: .5px black;
  text-decoration: none;
}

.homeLink:hover {
  color: black;
  -webkit-text-stroke: .5px white;
}

a:link {
  text-decoration: none;
}